<div class="content-padding">
    <h3>Toolbar with variations</h3>

    <!--Basic-->
    <section>
        <mat-toolbar class="mat-elevation-z2">
            <span>Basic toolbar with z-elevation of 2</span>
        </mat-toolbar>
    </section>

    <!--Colored with icons on both ends-->
    <section>
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <!--Starting icons-->
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Colored with icons on both ends and z-elevation of 6</span>
            <span class="toolbar-spacer"></span>
            <!--Ending icons-->
            <button mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    </section>

    <!--Dual-lined toolbar-->
    <section>
        <mat-toolbar color="warn" class="mat-elevation-z10">
            <!--First-->
            <mat-toolbar-row>
                <span>Dual-lined toolbar with a z-elevation of 10</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>

            <!--Second-->
            <mat-toolbar-row>
                <span>Toolbar secondary actions</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>share</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </section>
</div>