<div class="content-padding">
    <h3>Menu with nested icons and items</h3>
    <button mat-raised-button [matMenuTriggerFor]="foodMenu">
        Food Menu
    </button>

    <!--Main menu-->
    <mat-menu #foodMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="breakfastMenu">
            <mat-icon>breakfast_dining</mat-icon>
            <span>Breakfast</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="lunchMenu">
            <mat-icon>lunch_dining</mat-icon>
            <span>Lunch</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="dinnerMenu">
            <mat-icon>dinner_dining</mat-icon>
            <span>Dinner</span>
        </button>
    </mat-menu>

    <!--Breakfast menu-->
    <mat-menu #breakfastMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="brunchMenu">
            <mat-icon>brunch_dining</mat-icon>
            <span>Brunch Dining</span>
        </button>
        <button mat-menu-item>Beets</button>
        <button mat-menu-item>Bread</button>
        <button mat-menu-item>Juice</button>
        <button mat-menu-item disabled>Olives</button>
    </mat-menu>

    <!--Breakfast sub-menu-->
    <mat-menu #brunchMenu="matMenu">
        <button mat-menu-item>Peanut Butter Crackers</button>
        <button mat-menu-item>Gummy Sweets</button>
        <button mat-menu-item>Mango</button>
        <button mat-menu-item>Banana Cream Pie</button>
        <button mat-menu-item disabled>Cornbread</button>
    </mat-menu>


    <!--Lunch menu-->
    <mat-menu #lunchMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="deliverMenu">
            <mat-icon>delivery_dining</mat-icon>
            <span>Delivery Dining</span>
        </button>
        <button mat-menu-item>Ribs</button>
        <button mat-menu-item>Eggplant Parmesan</button>
        <button mat-menu-item>Octopus</button>
        <button mat-menu-item disabled>Lemon Cookies</button>
    </mat-menu>

    <!--Lunch sub-menu-->
    <mat-menu #deliverMenu="matMenu">
        <button mat-menu-item>Gulab Jamun</button>
        <button mat-menu-item>Burrito</button>
        <button mat-menu-item>Pizza Caprese</button>
        <button mat-menu-item>Molten Chocolate Cake</button>
        <button mat-menu-item disabled>Pancakes</button>
    </mat-menu>

    <!--Dinner menu-->
    <mat-menu #dinnerMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="localMenu">
            <mat-icon>local_dining</mat-icon>
            <span>Local Dining</span>
        </button>
        <button mat-menu-item>Tortilla</button>
        <button mat-menu-item>Macarons</button>
        <button mat-menu-item>Cheeseburger</button>
        <button mat-menu-item disabled>Potato Chips</button>
    </mat-menu>

    <!--Dinner sub-menu-->
    <mat-menu #localMenu="matMenu">
        <button mat-menu-item>Sausage</button>
        <button mat-menu-item>Pringles</button>
        <button mat-menu-item>Panna Cotta</button>
        <button mat-menu-item>Curly Fries</button>
        <button mat-menu-item disabled>Couscous</button>
    </mat-menu>

</div>