<div class="content-padding">
    <h3>Sidenav with auto-resizing</h3>
    <mat-drawer-container autosize class="sidenav-container">
        <mat-drawer #drawer class="sidenav-padding" mode="side">
            <p *ngIf="visible">
                I'm at this place on Pico Boulevard called Tech Noir.
            </p>
            <button mat-raised-button  
                    color="primary"
                    (click)="visible = !visible">
                Show hidden text!
            </button>
        </mat-drawer>

        <div class="sidenav-content">
            <button mat-raised-button 
                    color="primary" 
                    (click)="drawer.toggle()">
                Show sidenav
            </button>
        </div>
    </mat-drawer-container>
</div>