<div class="content-padding">
    <!--Basic-->
    <section>
        <h4>Basic Buttons</h4>
        <button mat-button>No color</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <button mat-button routerLink=".">Router link</button>
    </section>

    <!--Stroked-->
    <section>
        <h4>Stroked Buttons</h4>
        <button mat-stroked-button>No color</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <button mat-stroked-button routerLink=".">Router link</button>
    </section>

    <!--Flat-->
    <section>
        <h4>Flat Buttons</h4>
        <button mat-flat-button>No color</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <button mat-flat-button routerLink=".">Router link</button>
    </section>

    <!--Raised-->
    <section>
        <h4>Raised Buttons</h4>
        <button mat-raised-button>No color</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <button mat-raised-button routerLink=".">Router link</button>
    </section>

    <!--FAB-->
    <section>
        <h4>FAB Buttons</h4>
        <button mat-fab>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-fab color="primary">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-fab color="accent">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-fab color="warn">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-fab disabled>
            <mat-icon>done</mat-icon>
        </button>
        <button mat-fab routerLink=".">
            <mat-icon>info</mat-icon>
        </button>
    </section>

    <!--Mini FAB-->
    <section>
        <h4>Mini FAB Buttons</h4>
        <button mat-mini-fab>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-mini-fab disabled>
            <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab routerLink=".">
            <mat-icon>info</mat-icon>
        </button>
    </section>

    <!--Icon-->
    <section>
        <h4>Icon Buttons</h4>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="primary">
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button color="warn">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button disabled>
            <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button routerLink=".">
            <mat-icon>info</mat-icon>
        </button>
    </section>
</div>