<div class="content-padding">
    <h3>Card with header, card image, content, actions, and indeterminate progress bar at the footer</h3>
    <mat-card class="example-card">
        <!--Header-->
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Louis-Joseph Seutin</mat-card-title>
            <mat-card-subtitle>Politician, physician, surgeon, professor</mat-card-subtitle>
        </mat-card-header>

        <!--Display image-->
        <img mat-card-image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Louis-Joseph_Ghislain%2C_Baron_Seutin._Lithograph_by_C._Baugni_Wellcome_V0005392.jpg/425px-Louis-Joseph_Ghislain%2C_Baron_Seutin._Lithograph_by_C._Baugni_Wellcome_V0005392.jpg"
            alt="Album cover">

        <!--Content-->
        <mat-card-content>
            <p>
                Louis Joseph Seutin (18 October 1793 – 29 January 1862) was a Belgian doctor, surgeon and professor at
                the
                Université Libre de Bruxelles.
            </p>
        </mat-card-content>

        <!--Actions-->
        <mat-card-actions>
            <button mat-raised-button color="primary">
                Schedule
            </button>
            <button mat-button>Next</button>
        </mat-card-actions>

        <!--Footer-->
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>