mat-checkbox {
  margin-right: 1vw;
}

.ripple-container {
  cursor: pointer;
  text-align: center;

  width: 60vh;
  height: 60vh;
  margin-top: 3vh;
  line-height: 60vh;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
