<div class="content-padding">
    <section>
        <h3>Checkbox basic and disabled</h3>
        <mat-checkbox class="checkbox-margin-right">Check me!</mat-checkbox>
        <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
    </section>

    <h3>Checkbox with indeterminate property</h3>
    <section>
        <span>
            <mat-checkbox [checked]="allComplete" [color]="task.color" [indeterminate]="someComplete()"
                (change)="setAll($event.checked)">
                {{ task.name }}
            </mat-checkbox>
        </span>
        <span>
            <ul>
                <li *ngFor="let subtask of task.subtasks">
                    <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color"
                        (change)="updateAllComplete()">
                        {{ subtask.name }}
                    </mat-checkbox>
                </li>
            </ul>
        </span>
    </section>
</div>