<div class="content-padding">
    <h3>Tabs with lazyloading</h3>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Asian carp">
            <ng-template matTabContent>
                <div class="content-padding">
                    <p>
                        Several species of heavy-bodied cyprinid fishes are collectively known in the United States as
                        Asian
                        carp. Cyprinids from the Indian subcontinent—for example, catla (Catla catla) and mrigal
                        (Cirrhinus
                        cirrhosus)—are not included in this classification and are known collectively as "Indian carp".
                        Asian carp are considered invasive species in the United States.
                    </p>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Stomias">
            <ng-template matTabContent>
                <div class="content-padding">
                    <p>
                        Stomias is a genus of barbeled dragonfishes. They live in the mesopelagic zone of all oceans and
                        show diel vertical migration and sexual dimorphism (males are smaller, have larger eyes and
                        larger
                        postorbital photophores than females.
                    </p>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Ostraciidae">
            <ng-template matTabContent>
                <div class="content-padding">
                    <p>
                        Ostraciidae is a family of squared, bony fish belonging to the order Tetraodontiformes, closely
                        related to the pufferfishes and filefishes. Fish in the family are known variously as boxfishes,
                        cofferfishes, cowfishes and trunkfishes. It contains about 23 extant species in 6 extant genera.
                    </p>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Danio">
            <ng-template matTabContent>
                <div class="content-padding">
                    <p>
                        Danio is a genus of small freshwater fish in the family Cyprinidae found in South and Southeast
                        Asia, commonly kept in aquaria.
                    </p>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Footballfish">
            <ng-template matTabContent>
                <div class="content-padding">
                    <p>
                        The footballfish form a family, Himantolophidae, of globose, deep-sea anglerfishes found in
                        tropical
                        and subtropical waters of the Atlantic, Indian, and Pacific Ocean.
                    </p>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Cirrhitidae">
            <ng-template matTabContent>
                <div class="content-padding">
                    <p>
                        Cirrhitidae, the hawkfishes, are a family of marine perciform ray-finned fishes found in
                        tropical
                        seas and which are associated with coral reefs.
                    </p>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>