.grid-card {
  max-width: 100%;
}

.grid-card-content {
  margin-bottom: 0;
}
.grid-div {
  padding: 1%;
  border-radius: 1%;
}

mat-card {
  border-radius: 2%;
}

mat-paginator,
mat-grid-list,
mat-grid-tile,
mat-card {
  margin-top: 0;
}
