<div class="content-padding">
    <h3>Expansion panel with configurations</h3>
    <mat-expansion-panel (opened)="panelState(true)" (closed)="panelState(false)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                This is the panel title
            </mat-panel-title>
            <mat-panel-description>
                This panel is currently {{ panelDescription }}
            </mat-panel-description>
            <mat-icon>{{ panelIcon }}</mat-icon>
        </mat-expansion-panel-header>
        <h4>Close your eyes, give me your hand, darlin'</h4>
    </mat-expansion-panel>
</div>