<div class="content-padding">
    <h3>Progress spinner with configurations</h3>

    <!--Color-->
    <!--Color-->
    <section>
        <label class="elem-margin">Color</label>
        <mat-radio-group [(ngModel)]="color">
            <mat-radio-button class="elem-margin" value="primary">
                Primary
            </mat-radio-button>
            <mat-radio-button class="elem-margin" value="accent">
                Accent
            </mat-radio-button>
            <mat-radio-button class="elem-margin" value="warn">
                Warn
            </mat-radio-button>
        </mat-radio-group>
    </section>

    <!--Mode-->
    <section>
        <label class="elem-margin">Mode</label>
        <mat-radio-group [(ngModel)]="mode">
            <mat-radio-button class="elem-margin" value="determinate">
                Determinate
            </mat-radio-button>
            <mat-radio-button class="elem-margin" value="indeterminate">
                Indeterminate
            </mat-radio-button>
        </mat-radio-group>
    </section>

    <!--Value slider-->
    <section>
        <label class="elem-margin">Progress</label>
        <mat-slider [thumbLabel]="true" class="elem-margin" [(ngModel)]="value"></mat-slider>
    </section>

    <section>
        <mat-progress-spinner [color]="color"
                              [mode]="mode"
                              [value]="value">
        </mat-progress-spinner>
    </section>
</div>