<div class="content-padding">
    <section>
        <h3>Select option inside of a template-driven form</h3>
        <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="formDog">
                <mat-label>Select a dog name: </mat-label>
                <mat-option *ngFor="let name of dogNames" [value]="name">
                    {{ name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p>Your dog's name is {{ formDog ?? 'none' }}</p>
    </section>
    <section>
        <h3>Select option inside of a reactive form</h3>
        <mat-form-field appearance="fill">
            <mat-select [formControl]="formControlDog">
                <mat-label>Select a dog name: </mat-label>
                <mat-option *ngFor="let name of dogNames" [value]="name">
                    {{ name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p>Your dog's name is {{ formControlDog.value ?? 'none' }}</p>
    </section>
</div>