<mat-toolbar class="mat-elevation-z8" color="primary">
    <span>Angular Material</span>
    <span class="toolbar-spacer"></span>
    <span>v{{ version.full }}</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav opened mode="side" class="mat-elevation-z8">
        <h2 matSubheader>Schematics</h2>
        <mat-nav-list>
            <mat-list-item *ngFor="let schematic of schematics" [routerLink]="schematic.path">
                {{ schematic.name }}
            </mat-list-item>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <h2 matSubheader>Components</h2>
        <mat-nav-list>
            <mat-list-item *ngFor="let material of materials" [routerLink]="material.path">
                {{ material.name }}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>