section {
  margin-bottom: 2vh;
  display: block;
}

#larger-bottom {
  margin-bottom: 6vh;
}

.form-field {
  display: inline-block;
}

.form-margin {
  margin-right: 2vw;
}

mat-slider {
  height: 20vh;
  width: 30vw;
}
