.div-side-two {
  width: 43%;
  float: left;
  margin: 3%;
}

.form-controls {
  margin-bottom: 1em;
  display: block;
}
.form-field {
  width: 100%;
  margin-bottom: 2em;
}

.form-result {
  margin: 4% auto;
  width: 80%;
}
.form-side-left {
  float: left;
  width: 49%;
}
.form-side-right {
  width: 49%;
  float: right;
}
